<style xmlns:th="http://www.w3.org/1999/xhtml">
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  footer {
      position: fixed;
      padding: 15px;
      bottom: 0;
      width: 100%;
      height: 50px;
      background-color: #00FFFF;
  }
</style>
<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h4>All Right Reserved 2006-2018 Copyright © | Designed with by<a href ="/">&nbspRegistration Page</a></h4>
</footer>